[Unit]
Description=Lustre exporter for prometheus

[Service]
ExecStart=/usr/bin/lustre_exporter --port 9090 --config /etc/lustre_exporter.ini
Restart=on-failure

[Install]
WantedBy=multi-user.target
